<a href="https://colab.research.google.com/github/matis751/Regression_Startup/blob/main/R%C3%A9gression_Startup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


from google.colab import files

In [ ]:
# Méthodes pour charger des fichiers sur Colab
# Depuis un Google Drive (méthode plus complexe) : https://stackoverflow.com/questions/48735600/file-download-from-google-drive-to-colaboratory
# Sur l'espace Colab (méthode utilisée ici) : https://colab.research.google.com/notebooks/io.ipynb#scrollTo=vz-jH8T_Uk2c

# Si le fichier n'existe pas, on a la possibilité de le charger

try:
  pd.read_csv('/content/50_Startups.csv', sep =';')
except:
  uploaded = files.upload()

Saving 50_Startups.csv to 50_Startups.csv

In [ ]:
df = pd.read_csv('/content/50_Startups.csv', sep =';')
df.head()

         R&D  Administration  Marketing      villes     Profit
0  165349.20       136897.80  471784.10       Paris  192261.83
1  162597.70       151377.59  443898.53  Strasbourg  191792.06
2  153441.51       101145.55  407934.54        Lyon  191050.39
3  144372.41       118671.85  383199.62       Paris  182901.99
4  142107.34        91391.77  366168.42        Lyon  166187.94

In [ ]:
df.shape

(50, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   R&D             50 non-null     float64
 1   Administration  50 non-null     float64
 2   Marketing       50 non-null     float64
 3   villes          50 non-null     object
 4   Profit          50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
df.describe()

                 R&D  Administration      Marketing         Profit
count      50.000000       50.000000      50.000000      50.000000
mean    73721.615600   121344.639600  211025.097800  112012.639200
std     45902.256482    28017.802755  122290.310726   40306.180338
min         0.000000    51283.140000       0.000000   14681.400000
25%     39936.370000   103730.875000  129300.132500   90138.902500
50%     73051.080000   122699.795000  212716.240000  107978.190000
75%    101602.800000   144842.180000  299469.085000  139765.977500
max    165349.200000   182645.560000  471784.100000  192261.830000

In [ ]:
df_cols = df.select_dtypes(include=["float64"])
print(df_cols)

          R&D  Administration  Marketing     Profit
0   165349.20       136897.80  471784.10  192261.83
1   162597.70       151377.59  443898.53  191792.06
2   153441.51       101145.55  407934.54  191050.39
3   144372.41       118671.85  383199.62  182901.99
4   142107.34        91391.77  366168.42  166187.94
5   131876.90        99814.71  362861.36  156991.12
6   134615.46       147198.87  127716.82  156122.51
7   130298.13       145530.06  323876.68  155752.60
8   120542.52       148718.95  311613.29  152211.77
9   123334.88       108679.17  304981.62  149759.96
10  101913.08       110594.11  229160.95  146121.95
11  100671.96        91790.61  249744.55  144259.40
12   93863.75       127320.38  249839.44  141585.52
13   91992.39       135495.07  252664.93  134307.35
14  119943.24       156547.42  256512.92  132602.65
15  114523.61       122616.84  261776.23  129917.04
16   78013.11       121597.55  264346.06  126992.93
17   94657.16       145077.58  282574.31  125370.37
18   91749.16       114175.79  294919.57  124266.90
19   86419.70       153514.11       0.00  122776.86
20   76253.86       113867.30  298664.47  118474.03
21   78389.47       153773.43  299737.29  111313.02
22   73994.56       122782.75  303319.26  110352.25
23   67532.53       105751.03  304768.73  108733.99
24   77044.01        99281.34  140574.81  108552.04
25   64664.71       139553.16  137962.62  107404.34
26   75328.87       144135.98  134050.07  105733.54
27   72107.60       127864.55  353183.81  105008.31
28   66051.52       182645.56  118148.20  103282.38
29   65605.48       153032.06  107138.38  101004.64
30   61994.48       115641.28   91131.24   99937.59
31   61136.38       152701.92   88218.23   97483.56
32   63408.86       129219.61   46085.25   97427.84
33   55493.95       103057.49  214634.81   96778.92
34   46426.07       157693.92  210797.67   96712.80
35   46014.02        85047.44  205517.64   96479.51
36   28663.76       127056.21  201126.82   90708.19
37   44069.95        51283.14  197029.42   89949.14
38   20229.59        65947.93  185265.10   81229.06
39   38558.51        82982.09  174999.30   81005.76
40   28754.33       118546.05  172795.67   78239.91
41   27892.92        84710.77  164470.71   77798.83
42   23640.93        96189.63  148001.11   71498.49
43   15505.73       127382.30   35534.17   69758.98
44   22177.74       154806.14   28334.72   65200.33
45    1000.23       124153.04    1903.93   64926.08
46    1315.46       115816.21  297114.46   49490.75
47       0.00       135426.92       0.00   42559.73
48     542.05        51743.15       0.00   35673.41
49       0.00       116983.80   45173.06   14681.40

In [ ]:
df_cols = df.select_dtypes(include=["float64"])
df_mean = df[df_cols].agg("mean")
df_mean.plot()
plt.show()

ValueError: ignored

In [ ]:
#One hot-encoding
features = []
for v in ['Paris', 'Strasbourg', 'Lyon']:
  feature = v
  value = (df['villes'] == v).astype(int)
  df[feature] = value
  features.append(feature)
print(df[features])

    Paris  Strasbourg  Lyon
0       1           0     0
1       0           1     0
2       0           0     1
3       1           0     0
4       0           0     1
5       1           0     0
6       0           1     0
7       0           0     1
8       1           0     0
9       0           1     0
10      0           0     1
11      0           1     0
12      0           0     1
13      0           1     0
14      0           0     1
15      1           0     0
16      0           1     0
17      1           0     0
18      0           0     1
19      1           0     0
20      0           1     0
21      1           0     0
22      0           0     1
23      0           0     1
24      1           0     0
25      0           1     0
26      0           0     1
27      1           0     0
28      0           0     1
29      1           0     0
30      0           0     1
31      1           0     0
32      0           1     0
33      0           0     1
34      0           1     0
35      1           0     0
36      0           0     1
37      0           1     0
38      1           0     0
39      0           1     0
40      0           1     0
41      0           0     1
42      0           1     0
43      1           0     0
44      0           1     0
45      1           0     0
46      0           0     1
47      0           1     0
48      1           0     0
49      0           1     0